/* pt-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* russo-one-regular - latin_cyrillic */
@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/russo-one-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/russo-one-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/russo-one-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/russo-one-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/russo-one-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/russo-one-v9-latin_cyrillic-regular.svg#RussoOne') format('svg'); /* Legacy iOS */
}

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
img{
    max-width: 100%;
    height: auto;
}

.header{
    background: #C5C3C6;
    padding-bottom: 41px;
}

.wrapper{
    max-width: 77.31%;
    margin: 0 auto;

}

body{
    font-family: "PT Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.header__wrapper{
    font-family: "Russo One";
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 41px;
    vertical-align: top;
    align-items: start;
}
.header__logo-pic{
    height: 79px;
    width: 79px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: fill;
}
.header__item{
    margin-right: 25px;

}

.header__item:last-child{
    margin-right: 0;
}
.header__link{
    font-size: 14px;
    line-height: 16.87px;
    color: black;
    text-decoration: none;

}
.header__number{
    font-size: 18px;
}

.name-but{
    font-family: "Russo One";
    font-size: 36px;
    margin-top: 27px;
    display: flex;
    flex-wrap: wrap;
}

.but{
    color: black;
    border-radius: 3px;
    border: 2px solid #252525;
    margin-left:auto;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    padding: 18px 60px;
    text-decoration: none;
}
.slog{
    font-family: "Russo One";
    font-size: 18px;
    margin-top: -18px;
}


/*-----------------aboutUs----------------- */
.aboutUs{
    height: 398px;
    background: #F8F9FB;
}
.aboutUs__info{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    max-width: 460px;
    width: 460px;
    max-height: 168px;
    padding-bottom: 12px;
}
.aboutUs__all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 63px;
}
.aboutUs_image-pic{
    width: 491.91px;
    height: 277px;
}
.aboutUs__tittleSub{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    align-self: flex-start;
}
.aboutUs__sub{
    font-family: "Russo One";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    align-self: center;
    padding-bottom: 9px;
}
.aboutUs__but{
    color: black;
    font-family: "Russo One";
    border-radius: 3px;
    border: 2px solid #252525;
    margin-left: fill;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    padding: 20px 45px;
    align-self: flex-start;
    text-decoration: none;
}
.aboutUs__infoBut{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
}

/*-----------------teachers----------------- */
.teachers{
    background: #EEEEEE;
}
.teachers__all{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 189px ;
}
.teachers__title{
    padding-top: 86px;
    padding-bottom: 70px;
    text-align: center;
    font-family: "Russo One";
    font-size: 24px;
    line-height: 29px;
}

.teachers__one-pic{
    margin-right: 14px;
    margin-bottom: 11px;
}
.teachers__one{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 110px;
}
.teachers__name{
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
}
.teachers__surname{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.teachers__role{
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 23px;
}
.teachers__info{
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 18px;
}

/*-----------------achivments----------------- */
.achievements{
background: #34547A;
}
.teachers__title{
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "Russo One";
    font-size: 24px;
    line-height: 29px;
}
.achievements__all{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px ;
}
.achievements__one{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 69px;
}
.achievements__one-pic{
    margin-right: 20px;
}
.achievements__name1{
    width: 97px;
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 23px;
}
.achievements__name2{
    width: 134px;
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 23px;
}
.achievements__name3{
    width: 95px;
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 23px;
}
.achievements__name4{
    width: 108px;
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 23px;
}

/*-----------------achivments----------------- */

.in{
    height: 398px;
    background: #F2F2F3;
}
.in__info{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    max-width: 460px;
    width: 460px;
    max-height: 168px;
    padding-bottom: 27px;
}
.in__all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 63px;
}
.in_image-pic{
    width: 491.91px;
    height: 277px;
}
.in__tittleSub{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    align-self: flex-start;
}
.in__sub{
    font-family: "Russo One";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    align-self: center;
    padding-bottom: 25px;
}
.in__but{
    color: black;
    font-family: "Russo One";
    border-radius: 3px;
    border: 2px solid #252525;
    margin-left: fill;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    padding: 20px 80px;
    align-self: flex-start;
    text-decoration: none;
}
.in__infoBut{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
}

/*-----------------footer----------------- */
.footer{
    background: #797979;
}
.footer__title{
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "Russo One";
    font-size: 24px;
    line-height: 29px;
}
.footer__all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_left_item{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.footer_left_item1{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 50px;
}
.footer_left_item2{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 52px;
}
.footer_right_item{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 12px;
}
.footer_right_item1{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 6px;
}
.footer_right_item2{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 7px;
}
.footer_right_images{
    display: flex;
    flex-wrap: wrap;
}
.footer_right_image-link{
    margin-right: 66px;
}
.footer_right_images :last-child{
    margin-right: 0px;
}