/* pt-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* russo-one-regular - latin_cyrillic */
@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/russo-one-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/russo-one-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/russo-one-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/russo-one-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/russo-one-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/russo-one-v9-latin_cyrillic-regular.svg#RussoOne') format('svg'); /* Legacy iOS */
}

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
img{
    max-width: 100%;
    height: auto;
}

.header{
    background: #C5C3C6;
    padding-bottom: 41px;
}

.wrapper{
    max-width: 77.31%;
    margin: 0 auto;
}

body{
    font-family: "PT Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.header__wrapper{
    font-family: "Russo One";
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 41px;
    vertical-align: top;
    align-items: start;
}
.header__logo-pic{
    height: 79px;
    width: 79px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: fill;
}
.header__item{
    margin-right: 25px;
}
.header__item:hover, .header__item:focus{
    opacity: .65;
}

.header__item:last-child{
    margin-right: 0;
}
.header__link{
    font-size: 14px;
    line-height: 16.87px;
    color: black;
    text-decoration: none;

}
.header__number{
    font-size: 18px;
}
.header__burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}
.burger__line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
}
.burger__line1{
    top: 0;
}
.burger__line2{
    top: 50%;
    transform: translateY(-50%);
}
.burger__line3{
    bottom: 0;
}
.name-but{
    font-family: "Russo One";
    font-size: 36px;
    margin-top: 27px;
    display: flex;
    flex-wrap: wrap;
}

.but{
    color: black;
    border-radius: 3px;
    border: 2px solid #252525;
    margin-left:auto;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    padding: 18px 60px;
    text-decoration: none;
}
.but:hover, .but:focus{
    opacity: .65;
}
.slog{
    font-family: "Russo One";
    font-size: 18px;
    margin-top: -18px;
}


/*-----------------aboutUs----------------- */
.aboutUs{
    height: 398px;
    background: #F8F9FB;
}
.aboutUs__info{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    width: 460px;
    height: 168px;
    padding-bottom: 12px;
}
#aboutUs__info2{
    font-size: 24px;
}
.aboutUs__all{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 150px;
    padding-top: 58px;
    padding-bottom: 63px;
}


.aboutUs_image-pic{
    width: 491.91px;
    height: 277px;
}

.aboutUs__tittleSub{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    align-self: flex-start;
}
.aboutUs__sub{
    font-family: "Russo One";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    align-self: center;
    padding-bottom: 9px;
}
.aboutUs__but{
    color: black;
    font-family: "Russo One";
    border-radius: 3px;
    border: 2px solid #252525;
    margin-left: fill;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    padding: 20px 45px;
    align-self: flex-start;
    text-decoration: none;
}
.aboutUs__but:hover, .aboutUs__but:focus{
    opacity: .65;
}
.aboutUs__infoBut{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
}

/*-----------------teachers----------------- */
.teachers{
    background: #EEEEEE;
}
.teachers__all{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 189px ;
}
.teachers__title{
    padding-top: 86px;
    padding-bottom: 70px;
    text-align: center;
    font-family: "Russo One";
    font-size: 24px;
    line-height: 29px;
}

.teachers__one-pic{
    margin-right: 14px;
    margin-bottom: 11px;
}
.teachers__one{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 110px;
}
.teachers__name{
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
}
.teachers__surname{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.teachers__role{
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 23px;
}
.teachers__info{
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 18px;
}

/*-----------------achivments----------------- */
.achievements{
background: #34547A;
}
.teachers__title{
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "Russo One";
    font-size: 24px;
    line-height: 29px;
}
.achievements__all{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}
.achievements__one{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 69px;
}

.achievements__one-pic{
    margin-right: 20px;
}
.achievements__name1{
    width: 97px;
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 23px;
}
.achievements__name2{
    width: 134px;
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 23px;
}
.achievements__name3{
    width: 95px;
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 23px;
}
.achievements__name4{
    width: 108px;
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 23px;
}

/*-----------------achivments----------------- */

.in{
    height: 398px;
    background: #F2F2F3;
}
.in__info{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    max-width: 460px;
    width: 460px;
    max-height: 168px;
    padding-bottom: 27px;
}
.in__all{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 150px;
    padding-top: 58px;
    padding-bottom: 63px;
}
.in_image-pic{
    width: 491.91px;
    height: 277px;
}
.in__tittleSub{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    align-self: flex-start;
}
.in__sub{
    font-family: "Russo One";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    align-self: center;
    padding-bottom: 25px;
}
.in__but{
    color: black;
    font-family: "Russo One";
    border-radius: 3px;
    border: 2px solid #252525;
    margin-left: fill;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    padding: 20px 80px;
    align-self: flex-start;
    text-decoration: none;
}
.in__but:hover, .in__but:focus{
    opacity: .65;
}
.in__infoBut{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
}

/*-----------------footer----------------- */
.footer{
    background: #797979;
}
.footer__title{
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "Russo One";
    font-size: 24px;
    line-height: 29px;
}
.footer__all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_left_item{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.footer_left_item1{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 50px;
}
.footer_left_item2{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 52px;
}
.footer_right_item{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 12px;
}
.footer_right_item1{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 6px;
}
.footer_right_item2{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 7px;
}
.footer_right_images{
    display: flex;
    flex-wrap: wrap;
}
.footer_right_image-link{
    margin-right: 66px;
}
.footer_right_images :last-child{
    margin-right: 0px;
}
.footer_right_image:hover, .footer_right_image:focus{
    opacity: .65;
}
/*-----------------advantages----------------- */
.advantages__all{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 179px ;
}
.advantages__img-pic{
    width: 200px;
    height: 200px;
    margin-bottom: 26px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.advantages__name{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px
}
.advantages__info {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
}
.advantages__one{
    margin-bottom: 100px;
}
/*-----------------advantage----------------- */
.advantage__all{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 179px ;
}
.advantage__one{
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
}
.advantage__img-pic{
    width: 75px;
    height: 75px;
    margin-right: 75px;
}
.advantage__name{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
.advantage__info{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
}
.advantage__name-info{
    margin-left: 27px;
}
.inPage{
    background-color: #F8F9FB;
}
/*-----------------inPage----------------- */

.inPage__title{
    font-family: "Russo One";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 45px;
    padding-top: 75px;
    text-align: center;
}
.inPage__text{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 17px;
}
.inPage__bold{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 15px;
}
.inPage__item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    padding-bottom: 15px;
}
.inPage__item:last-child{
    padding-bottom: 100px;
}
.inPage__dot{
    width: 20px;
    height: 20px;
}
.inPage__item-text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    margin-left: 20px;
}
/*-----------------contacts----------------- */

.contacts__wrapper{
    max-width: 77.31%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 3px solid #CBC7C7;

}
.contacts__main{
    background-color: #EEEEEE;
    padding-top: 75px;
    height: 777px;
}
.contacts__name{
    font-family: "Russo One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-top: 210px;
    color: rgba(0, 0, 0, 0.8);
}
.contacts__time {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 22px;
}
.contacts__number{
    font-family: "Russo One";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    margin-bottom: 22px;
    opacity: 0.9;
}
.contacts__email{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 218px;
}
/*-----------------slider----------------- */

.slider{
    background-color: #F8F9FB;
    padding-bottom: 55px;
    padding-top: 55px;
}
.slider__one{
    display: flex;
    flex-direction: row;
}
.slider__img-pic{
    width: 95px;
    height: 128px;
    margin-right: 75px;
    margin-left: 11%;
}
.slider__name{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}
.slider__role{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}
.slider__info{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
}
.slider__name-info{
    margin-left: 11%;
    margin-right: 11%;
}

.slick-dots li button:before {
    font-size: 50px;
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}
#map{
    height: 500px ;
    width: 100%;
}


/*-----------------media----------------- */
@media screen and (max-width: 580px) {
    .contacts__wrapper {
        max-width: 77.31%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border: 3px solid #CBC7C7;
        height: 220px;

    }

    .contacts__main {
        background-color: #EEEEEE;
        padding-top: 75px;
        height: 380px;
    }
    .contacts__name{
        font-family: "Russo One";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        text-align: center;
        padding-top: 50px;
        color: rgba(0, 0, 0, 0.8);
    }
    .contacts__time {
        font-family: "PT Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        margin-bottom: -5px;
    }
    .contacts__number{
        font-family: "Russo One";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 43px;
        text-align: center;
        margin-bottom: -10px;
        opacity: 0.9;
    }
    .contacts__email{
        font-family: "PT Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 47px;
        text-align: center;
        text-decoration-line: underline;
        margin-bottom: 218px;
    }
}
@media screen and (max-width: 784px) and (min-width: 581px) {
    .contacts__wrapper{
        max-width: 77.31%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border: 3px solid #CBC7C7;
        height: 450px;

    }
    .contacts__main{
        background-color: #EEEEEE;
        padding-top: 75px;
        height: 600px;
    }
    .contacts__name{
        font-family: "Russo One";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        text-align: center;
        padding-top: 140px;
        color: rgba(0, 0, 0, 0.8);
    }
    .contacts__time {
        font-family: "PT Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 22px;
    }
    .contacts__number{
        font-family: "Russo One";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 43px;
        text-align: center;
        margin-bottom: 22px;
        opacity: 0.9;
    }
    .contacts__email{
        font-family: "PT Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 47px;
        text-align: center;
        text-decoration-line: underline;
        margin-bottom: 218px;
    }
}

@media screen and (max-width: 1180px) {

    .advantages__all{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 179px ;
    }
}
@media screen and (max-width: 750px) {

    .advantages__all{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 179px ;
    }
}
@media screen and (max-width: 900px) {
    .advantage__all{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 179px ;
    }
}

@media screen and (max-width: 540px) {
    .aboutUs_image-pic{
        width: 340px;
        height: 200px;
    }
    .aboutUs__info{
        height: 300px;
        width: 400px;
        margin-bottom: -100px;
    }
    .in_image-pic{
        width: 340px;
        height: 200px;
    }
    .in__info{
        height: 300px;
        width: 400px;
        margin-bottom: -100px;
    }
}
@media screen and (max-width: 455px) {
    .aboutUs{
        height: 700px;
    }
    .aboutUs_image-pic{
        width: 249px;
        height: 150px;
    }
    .aboutUs__info{
        height: 400px;
        width: 200px;
        margin-bottom: -130px;
        font-size: 13px;
    }
    .in_image-pic{
        width: 249px;
        height: 150px;
    }
    .aboutUs__all {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        justify-items: start;
    }
    .in__all{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        justify-items: start;
    }
    .in__info{
        height: 400px;
        width: 200px;
    }
    .in{
        height: 650px;
    }

}
@media screen and (max-width: 1050px) {
    .teachers__all {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 100px;
    }
}
@media screen and (max-width: 1156px) {
    .achievements__all{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 400px;
    }
}
@media screen and (max-width: 1070px) {
    .achievements__all{
        grid-column-gap: 350px;
    }
}
@media screen and (max-width: 1012px) {
    .achievements__all{
        grid-column-gap: 250px;
    }
}
@media screen and (max-width: 880px) {
    .achievements__all{
        grid-column-gap: 150px;
    }
}
@media screen and (max-width: 752px) {
    .achievements__all{
        grid-column-gap: 60px;
    }
}
@media screen and (max-width: 632px) {
    .achievements__all{
        grid-column-gap: 20px;
    }
}
@media screen and (max-width: 585px) {
    .achievements__one-pic{
        width: 40px;
        height: 40px;
    }
    .achievements__all{
        grid-column-gap: 80px;
    }
    .achievements__name1{
        width: 100px;
        font-size: 14px;
    }
    .achievements__name2{
        width: 100px;
        font-size: 14px;
    }
    .achievements__name3{
        width: 100px;
        font-size: 14px;
    }
    .achievements__name4{
        width: 100px;
        font-size: 14px;
    }
}

/*@media screen and (max-width: 1204px) {*/
/*    .achievements__all{*/
/*        display: grid;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        grid-column-gap: 10px;*/
/*    }*/
/*}*/
@media screen and (max-width: 650px){
    .footer_right_image{
        height: 20px;
        width: 20px;
    }
    .footer_left_item{
        font-size: 13px;
        line-height: 20px;
    }

    .footer_left_item1{
        font-size: 13px;
        line-height: 20px;
    }
    .footer_left_item2{
        font-size: 13px;
        line-height: 20px;
    }
    .footer_right_image-link{
        margin-right: 20px;
    }
    .footer_right_images :last-child{
        margin-right: 0px;
    }
    .footer_right_item{
        font-size: 13px;
        line-height: 20px;
        padding-bottom: 35px;
    }
    .footer_right_item1{
        font-size: 13px;
        line-height: 20px;
    }
    .footer_right_item2{
        font-size: 13px;
        line-height: 20px;
    }
}
@media screen and (max-width: 920px) {
    .but{
        display: none;
    }
    .slog{
        margin-top: 15px;
    }
    .header__burger{
        display: block;
    }
    .header__nav{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: 0.2s all linear;
        background-color: #EEEEEE;
    }
    .header__number{
        font-size: 48px;
    }
    .header__nav_active{
        transform: translateX(0);
    }
    .header__item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__item:last-child{
        margin-bottom: 0;
    }
    .header__link{
        font-size: 42px;
        line-height: 48px;
    }
    .header__nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header_nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        background-color: black;
    }
    .header_nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header_nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }

}
@media screen and (max-width: 720px) and (min-width: 456px){
    .aboutUs{
        height: 700px;
    }
    .aboutUs__all {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        justify-items: start;
    }
    .in__all{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        justify-items: start;
    }
    .in{
        height: 700px;
    }
}
@media screen and (max-width: 1204px ) and (min-width: 720px) {
    .aboutUs{
        height: 693px;
    }
    .aboutUs__all{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        justify-items: center;
        grid-auto-flow: dense;
    }
    .in__all{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        justify-items: center;
        grid-auto-flow: dense;
    }
    .in{
        height: 693px;
    }


}

@media screen and (max-width: 1468px) {
    .aboutUs__all {
        grid-gap: 90px;
    }
    .in__all{
        grid-gap: 90px;
    }
}
@media screen and (max-width: 1352px) {
    .aboutUs__all {
        grid-gap: 40px;
    }
    .in__all{
        grid-gap: 40px;
    }
}

@media screen and (max-width: 952px) {
    .slick-prev:before, .slick-next:before{
        opacity: 0;
    }
}


.slider{
    outline: none;
}